<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <meta charset="utf-8" />

    <meta name="author" content="Publifluor">
    <meta name="developers" content="Open Source Publishing, Lundi">
    <meta name="keywords" content="typography, lettering, bruxelles, schaerbeek, belgique, crickx">
    <meta name="description" content="Essai collectif non standard qui retrace la vie d'un modèle de lettres, avec celles de ses auteur·ices
    successif·ves et leurs outils">
    <meta property="og:title" content="Publifluor"/>
    <meta property="og:description" content="Non-standard collective essay attempting to tell the life of a type model, its successive authors and their tools."/>
        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ main_siteurl }}/{{THEME_STATIC_DIR }}/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="{{ main_siteurl }}/{{THEME_STATIC_DIR }}/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="{{ main_siteurl }}/{{THEME_STATIC_DIR }}/css/main.css" type="text/css" />

    <script src="/scripts/img-alt.js"></script>
    <script src="/scripts/md-carousel.js"></script>





  </head>

  <body>

    {% set backcover=pages|selectattr('slug', 'equalto', 'backcover')|first%}
    {% set footer=pages|selectattr('slug', 'equalto', 'footer')|first%}

      <nav>
        {% block nav %}
          <a {% if output_file == "index.html" %} class="active" {% endif %} href="{{SITEURL}}/"><h3>Publifluor</h3></a>

          <a {% if output_file == "specimen.html" %} class="active" {% endif %} href="{{SITEURL}}/specimen.html"><h3>Fonts</h3></a>

          <a {% if output_file == "textes.html" %} class="active" {% endif %} href="{{SITEURL}}/textes.html"><h3>Texts</h3></a>
          
          <ul class="nav-lang">
            <li><a href="/">fr</a></li>
            <li><a href="/nl">nl</a></li>
            <li><a href="/en">en</a></li>
          </ul>

        {% endblock %}
      </nav>


    
    {% block content %}
      {# content goes here #}
    {% endblock %}

    <footer>
      {{footer.content}}
     
    </footer>

  </body>
</html>
