{% extends "base.html" %}

{% block content %}
  
   <div class="panels-container">
      <div class="panel">
        <!-- <a class="desktop-arrow" href="{{backcover.url}}"><h2 id="{{backcover.slug}}">&#x279A;</h2></a> -->
        <section class="carousel">
          <ul class="carousel-items">
            <li class="carousel-item">
                <div class="card">
                    <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_00.png" />
                    <div class="card-content">
                        <p></p>
                    </div>
                </div>
            </li>
              <li class="carousel-item">
                  <div class="card">
                      <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_01.png" />
                      <div class="card-content">
                          <p></p>
                      </div>
                  </div>
              </li>
              <li class="carousel-item">
                  <div class="card">
                      <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_02.png" />
                      <div class="card-content">
                          <p></p>
                      </div>
                  </div>
              </li>
              <li class="carousel-item">
                  <div class="card">
                      <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_03.png" />
                      <div class="card-content">
                          <p></p>
                      </div>
                  </div>
              </li>
              <li class="carousel-item">
                <div class="card">
                    <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_04.png" />
                    <div class="card-content">
                        <p></p>
                    </div>
                </div>
            </li>
            <li class="carousel-item">
              <div class="card">
                  <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_05.png" />
                  <div class="card-content">
                      <p></p>
                  </div>
              </div>
          </li>
          <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_08.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
        </li>
        <li class="carousel-item">
          <div class="card">
              <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_09.png" />
              <div class="card-content">
                  <p></p>
              </div>
          </div>
         </li>
         <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_10.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
           </li>
           <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_11.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
           </li>
           <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_13.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
           </li>
           <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_14.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
           </li>
           <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_15.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
           </li>
           <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_19.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
           </li>
           <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_20.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
           </li>
           <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_21.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
           </li>
           <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_22.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
           </li>
           <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_23.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
           </li>
           <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_24.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
           </li>
           <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_26.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
           </li>


          </ul>
      </section>
          {{backcover.content}}
        <!-- <a class="mob-arrow" href="{{backcover.url}}"><h2 id="{{backcover.slug}}">&#x27AB;</h2></a> -->
      </div>
      <div class="panel">
        {%include "specimen-home.html"%}
        <a class="mob-arrow" href="specimen.html"><h2 id="specimen">&#x27AB;</h2></a>
      </div> 
  </div> 
{% endblock %}

