{% extends "base.html" %}

{% block content %}
<div id="pages-content">
    <h2 id="{{page.slug}}">{{page.title}}</h2>
    <section class="carousel">
        <ul class="carousel-items">
            <li class="carousel-item">
                <div class="card">
                    <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_00.png" />
                    <div class="card-content">
                        <p></p>
                    </div>
                </div>
            </li>
            <li class="carousel-item">
                <div class="card">
                    <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_01.png" />
                    <div class="card-content">
                        <p></p>
                    </div>
                </div>
            </li>
            <li class="carousel-item">
                <div class="card">
                    <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_02.png" />
                    <div class="card-content">
                        <p></p>
                    </div>
                </div>
            </li>
            <li class="carousel-item">
                <div class="card">
                    <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_03.png" />
                    <div class="card-content">
                        <p></p>
                    </div>
                </div>
            </li>
            <li class="carousel-item">
              <div class="card">
                  <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_04.png" />
                  <div class="card-content">
                      <p></p>
                  </div>
              </div>
          </li>
          <li class="carousel-item">
            <div class="card">
                <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_05.png" />
                <div class="card-content">
                    <p></p>
                </div>
            </div>
        </li>
        <li class="carousel-item">
          <div class="card">
              <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_08.png" />
              <div class="card-content">
                  <p></p>
              </div>
          </div>
      </li>
      <li class="carousel-item">
        <div class="card">
            <img src="/images/backcover/Publi-fluor_Crickx_Surfaces-Utiles_09.png" />
            <div class="card-content">
                <p></p>
            </div>
        </div>
    </li>
        </ul>
    </section>

    {{page.content}}
</div>
{% endblock %}
