<div class="specimen-home">
    <p class="c5 dr1 normale orange">ouvert</p>
    <p class="c3 dr1 chrystelise blue">geopen</p>
    <p class="c4 dr1 normale green">Tu as vu l’allure qu’il·elles ont mes rond·es ?</p>
    <p class="c2 dr3 normale pink">HEB JE GEZIEN HOE GOED MIJN RONDES ERUIT ZIEN ?</p>
    <a class="desktop-arrow c1 dr3" href="specimen.html"><h2 id="specimen">&#x279A;</h2></a>
    <p class="c2 dr3 chrystelise orange">Have you seen the way my rounds look?</p>
    <p class="c2 dr3 normale pink">ik  hou van  de  2 het  lijkt op  een zwaan</p>

    <p class="c2 dr1 normale cyan">J'aime bien le 2 ça fait penser à un cygne</p>
 
    </div>