<div class="specimen">

<p class="c3 launch">The trajectory of the research led to update the font file directory and republish the entire family with an additional set of characters and more nuances in terms of metadata. The new version of Crickx — now Publi Fluor — is published under a CC4r license. Visit <a href="https://gitlab.constantvzw.org/osp/foundry.crickx/">the font sources</a>.</p>

<p class="c4 dr1 normale blue">Tu as vu l’allure qu’i·els ont mes rond·es ?</p>
<p class="c2 dr2 droite-rush pink">HEB JE GEZIEN HOE GOED MIJN RONDES ERUIT ZIEN ?</p>
<p class="c2 dr2 normale-ouverte green">Have you seen the way my rounds look?</p>

<p class="c1 dr3 normale orange">la maison ne fait pas crédit</p>
<p class="c1 dr3 droite-ouverte blue">no credit given</p>
<p class="c3 dr1 chrystelise orange">het huis geeft geen krediet</p>

<p class="dr1 c2 normale orange">&#127799;</p>

<p class="c4 dr1 normale cyan center">Cet·te ami·e bruyant·e</p>


<p class="dr1 c2 normale orange">&#10170; &#10171; </p>

<p class="c1 dr3 normale-ouverte orange">ingang<br/>entry<br/>entrée</p>
<!-- <p class="c1 dr3 rotate droite-ouverte blue">ENTRY</p>
<p class="c1 dr3 rotate droite-ouverte orange">entrée</p> -->

<p class="c3 dr1 normale pink center">ouvert</p>

<p class="c2 dr2 normale cyan">J'aime bien le 2 ça fait penser à un cygne</p>
<p class="c1 dr3 normale-ouverte green">I like 2, it makes me think of a swan</p>
<p class="c1 dr3 droite-rush blue">ik  hou van  de  2 het  lijkt op  een zwaan</p>

<p class="c3 dr1 normale-rush blue">geopen</p>

<p class="c4 dr0 normale cyan">2</p>

<p class="dr1 c2 normale orange">&#9742;</p>
<p class="c2 dr2 normale-rush orange">fax</p>

<p class="c4 dr1 normale orange">Cet·te rigolot·e</p>


<p class="c4 dr1 chrystelise pink">Basically my letters are very simple.</p>



<p class="c2 dr3 normale-ouverte cyan">IN FEITE ZIJN MIJN LETTERS HEEL EENVOUDIG</p>
<p class="c2 dr3 normale-ouverte orange">Au fond, elles sont fort simples mes lettres</p>

<p class="c3 dr1 normale green">radieux·se</p>

<p class="c1 dr3 normale pink"> &#x279A;</p>

<p class="c1 dr3 chrystelise pink">Giving life to a sticker isn't easy</p>
<p class="c1 dr3 droite-ouverte blue">donner de la vie à un autocollant, c’est pas évident</p>
<p class="c2 dr2 normale-ouverte cyan">Een sticker tot leven wekken is niet eenvoudig</p>

<p class="c1 dr2 normale-rush pink">you take 10 letters, that's 100 francs</p>
<p class="c2 dr3 cd dr3 droite-ouverte green">Si tu prends 10 lettres, ça fait 100 francs</p>
<p class="c3 dr2 normale-ouverte orange">Als je 10 letters neemt, is dat 100 frank</p>

<p class="c3 dr1 normale-rush orange">3</p>


<p class="c2 dr2 normale pink">Vif·ve héros·ïne</p>






</div>