{% extends "base.html" %}

{% block content %}

<main>
{% for article in articles %} 
    <details class="article"> 
        <summary>
            <h2 id="{{article.slug}}">{{article.title}}</h2>
            {% for authors in article.authors %}
            <h5>
                {{ authors }}
            </h5>
            {% endfor %}
        </summary>

        {{article.content}}
                    

    </details>

{% endfor %}
</main>

{% endblock %}


