
@font-face {
    font-family: "Normale";
    src: url('../fonts/PubliFluorNormale.otf');
}

@font-face {
    font-family: "NormaleRush";
    src: url('../fonts/PubliFluorNormaleRush.otf');
}

@font-face {
    font-family: "NormaleOuverte";
    src: url('../fonts/PubliFluorNormaleOuverte.otf');
}

@font-face {
    font-family: "DroiteOuverte";
    src: url('../fonts/PubliFluorDroiteOuverte.otf');
}

@font-face {
    font-family: "DroiteRush";
    src: url('../fonts/PubliFluorDroiteRush.otf');
}

@font-face {
    font-family: "Chrystelise";
    font-weight: 400;
    src: url('../fonts/PubliFluorBulbe.otf');
}

@font-face {
    font-family: "Herthey";
    src: url('../fonts/BBB-Herthey-Futural-15.otf');
    font-weight: 200;
}
  
@font-face {
    font-family: "Herthey";
    src: url('../fonts/BBB-Herthey-Futural-30.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Herthey";
    src: url('../fonts/BBB-Herthey-Futural-30-Italic.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Herthey";
    src: url('../fonts/BBB-Herthey-Futural-90.otf');
    font-weight: 800;
}
  
@font-face {
    font-family: "Karrik";
    src: url('../fonts/Karrik-Regular.otf');
    font-weight: 800;
}
