:root {
    --green: rgb(0, 168, 136);
    --yellow: rgb(255, 237, 0);
    --blue: rgb(70, 0, 155);
    --cyan: rgb(0, 176, 251);
    --orange: rgb(255, 82, 0);
    --pink: rgb(229, 0, 125);

  }
  

html {
    scroll-padding-top: 250px;
}

@media screen and (max-width:36rem) {
    html {
        scroll-padding-top: 170px;
    }
}
nav,
footer {
    padding: 1em;
}

nav {
    display: flex;
    background-color: black;
    gap: 0.2em 2em;
    flex-wrap: wrap;
    padding:0rem 2rem;
    position: sticky;
    top: 0;
    z-index: 2000;
    padding-top: 1rem;
}

nav h3 {
    margin-top: 0;
}


nav h2 {
    margin :0;
}

.nav-lang {
    line-height: 3rem;
    margin-top: 0.3rem;
}
.nav-lang li{
    text-align: right;
    display: inline-block;
    font-family: "Chrystelise";
    font-size: 2.5rem;
    margin: 0.5rem;
    color: var(--green);
}

@media screen and (max-width:36rem) {
    nav {
        padding:0.5rem 5rem 1rem 1rem;
        gap: 0.1em 3em;
        position: sticky;

    }

    .nav-lang {
        margin: 0.1rem;
        position: absolute;
        right: 0.5em;
    }
    .nav-lang ul{
        list-style: none;
        width: 1em;
        margin: 0em;
    }
    .nav-lang li{
        display: block;
        font-size: 2.1rem;
        line-height: 1.3rem;
    }
}

.desktop-arrow{
    text-align: right;
}

.mob-arrow {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1em 5em;
    /* background:linear-gradient(to bottom, transparent, var(--yellow) 50%) ; */
    text-align: right;
    display: none;
    box-sizing: border-box;
}
@media screen and (max-width:36rem) {
    .desktop-arrow {
        display: none;
    }
    .mob-arrow {
        display: block;
        
    }
}

a {
    color:var(--green);
    text-decoration: none;
}
a.active{
    color:var(--pink);
    text-decoration: none;
}

a:hover {
    color:var(--pink);
}

a.footnote-ref{
    font-size: 1.3em;
    color:var(--orange);
    font-family: Karrik;
    font-size:0.8em;
    line-height: 0em;
}

a.footnote-ref:hover{
    color:var(--blue);
}

sup{
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

 .panels-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0rem 0rem;
    background-color: var(--yellow);
 }


 .panel{
    overflow: hidden;
    position: relative;
    padding:1rem 2rem;
    background-color: var(--yellow);
 }
 .panel:nth-last-child(1){
    background-color: white;

 }



 @media screen and (max-width:36rem) {
    .panels-container {
        grid-template-columns:1fr;
        grid-template-rows: 150vh 150vh;

    }
 }

footer{
    background-color: var(--green);
    column-count: 2;
    column-gap: 1.5rem;
}

@media screen and (max-width:36rem) {
    footer {
        column-count: 1;
    }
}

footer a {
    font-family: "Normale";
    color:black;
    letter-spacing:0.03em;
}

footer a:hover {
    color: var(--pink);
}

footer p {
    font-family: "Herthey";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
}

footer img {
    max-height: 55px;
    max-width: 150px;
    float: left;
    clear: none;
    margin: 0 0;
}
footer img:nth-of-type(2) {
    max-height: 60px;
    max-width: 160px;
    float: left;
    clear: none;
    margin: 0 0.5em;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background-color: black;
}

p {
    font-family: "Herthey";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 1200px;
    text-indent: 40px;
}

p:first-of-type {
    text-indent: 0px;

}
@media screen and (max-width:36rem) {
    p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}


em {
    font-style: italic;
}


h1, h2, h3 {
    font-family:"Normale";
}

h2 {    
    font-size: 5em;
    font-weight: 400;
    letter-spacing: -0.03em;

}

h3{
    font-size: 3em;
    font-weight: 400;
    margin-top: 0.5em;
}

article h3 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    line-height: 3rem;
}

blockquote {
    font-family: DINdong;
    font-size: 12pt;
}



img {
    margin-right: 1rem;
    float: left;
    width: 40%;
    /* min-width: 500px; */
    clear:both;
}

@media screen and (max-width:36rem) {
    img {
        width: 100%;
        margin-bottom: 0.5em;
    }
}

/* /////////////////////////////////////// STYLES PAGES */
ul {
    margin-top: 1em;
    margin-bottom: 1em;
}


ul li {
    font-family: "Normale";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8rem;
    list-style: none;
}

#pages-content{
    padding:0.75rem 2rem;
}

#pages-content h2 {
    display: none;
}


/* /////////////////////////////////////// STYLES ARTICLES */


.article {
    padding:0.75rem 2rem;
}


@media screen and (max-width:36rem) {
     h2 {
        font-size: 3rem ;
        line-height: 3rem; 
    } 
}

summary h2 {
 

}

@media screen and (max-width:36rem) {
    summary h2  {
        font-size: 3rem !important;
    }
}



.article h3 {
    margin-top: 2rem;
    font-size: 4em;
    line-height: 2rem;
    font-family: "Chrystelise";
    margin-bottom: 1rem;
}

@media screen and (max-width:36rem) {
    .article h3 {
        margin-top: 1rem;
        font-size: 3em;
        line-height: 2.5rem;
        font-family: 'Chrystelise';
    }
}

.article h4 {
    font-family: 'Normale';
    padding: 0.75rem 0rem 0.25rem 0rem;
    font-size: 2em;
    font-weight: 400;
    color: var(--orange);
}

.article h5 {
    font-family: 'Normale';
    padding: 1.5rem 0.5rem 0.25rem 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: black;
}
@media screen and (max-width:36rem) {
    .article h5 {
font-family: 'Normale';
padding: 0.5rem 0.5rem 0.25rem 0.5rem;
font-size: 1rem;
line-height: 1rem;
font-weight: 400;
color: black;
    }
}



.article strong {
    font-family: "Karrik";
    font-size: 1.25rem;
    margin: 0rem 2rem;
    color: var(--orange);
    letter-spacing: -0.02em;
}

.article strong:first-of-type{
    font-family: "Karrik";
    font-size: 1.1rem;
    margin: 0rem 2rem 0rem 0rem;
} 

.article ul{
    padding:.5rem 0rem;
    
}

.article ol li {
    list-style: decimal;
    /* display: inline; */
    font-size: 1rem;
    margin: 1rem 1rem;
    line-height: 1.5rem;
    font-family: "Karrik";
}
.article ol li:first-child{
    margin-left: 1rem;
}

.article ol li p {
    font-size: 1.2rem;
    line-height: 1.6rem;
}
@media screen and (max-width:36rem) {
    .article ol li p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}


.article ul li a{
    color: var(--orange);
}

.article ul li a:hover{
    color: black;
}
.article ul li {
    display: inline;
    text-align: center;
    margin: 0rem 0.4rem 0rem 0.4rem;
    line-height: 1.5rem;
    font-family: "Karrik";
    font-size: 1.25rem;
    color: var(--orange);
    letter-spacing: -0.02em;
}
.article ul li {
    margin: 0rem 0.4rem 0rem 0rem;

}

.article li:first-child{
    margin-left: 0;
}

.article p:first-of-type {
    padding-top: 1rem;

}
/* /////////////////////////////////////// DETAILS */

details:first-of-type{
    background-color: var(--orange);
}
details:nth-last-child(2){
    background-color: var(--yellow);
}
details:last-of-type{
    background-color: white;
}

details summary{
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 4.5rem;
}

details summary::-webkit-details-marker,
details summary::marker {
    display: none;
}

details[open] summary {
    /* scroll-padding-top: 7rem; */
}

details:first-of-type[open] summary{
    background-color: var(--orange);
}

details:nth-of-type(2)[open] summary{
    background-color: var(--yellow);
}

details:nth-of-type(3)[open] summary{
    background-color: white;
}

details[open] summary::after{
    font-family: "Normale";
    font-size: 4rem;
    content: '❋';
    margin-top: 1rem;
}
details:not([open]) summary::after{
    font-family: "Normale";
    font-size: 4rem;
    content: '↓';
    margin-top: 1rem;
}

@media screen and (max-width:36rem) {
    details[open] summary::after,
    details:not([open]) summary::after {
        font-size: 3rem;
        line-height: 1rem;
    }
}



summary h2 {
    font-size: 10rem;
}



/* /////////////////////////////////////// STYLES SPECIMEN */

.specimen {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    gap:0.2em 1em;
    grid-auto-flow: dense;
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga", "clig";
    -webkit-font-feature-settings: "liga", "clig";
    font-feature-settings: "liga" 1;
}

@media screen and (max-width:36rem) {
    .specimen {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: black;
        grid-auto-rows: auto;
        gap:0.2em 1em;
        grid-auto-flow: dense;
        text-indent: 0;


    }
 }
 
 .specimen-home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap:2em 1.5em;
    grid-auto-flow: dense;
    text-indent: 0;
}

.specimen-home p{
    text-indent: 0;

}

@media screen and (max-width:36rem) {
    .specimen-home {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        gap:2em 1.5em;
        grid-auto-flow: dense;
    }
}


.specimen p {
    margin: 2rem 1rem 1rem 1rem;
    text-indent: 0;
}

.launch {
    font-family: 'Herthey';
    color: var(--orange);
    font-weight: 400;
    /* font-size: 1.3rem;
    line-height: 1.8rem; */
    max-width: 350px;
}
.center {
text-align: center;
}

.c1{
    grid-column: auto / span 1;
}
.c2{
    grid-column: auto / span 2;
}
.c3{
    grid-column: auto / span 3;
}
.c4{
    grid-column: auto / span 4;
}

@media screen and (max-width:36rem) {
    .c1, .c2, .c3, .c4 {
        grid-column: auto / span 1;
        width: 100vw;
    }
 }

.dr0 {
    font-size: 75rem;
    line-height: 60rem;
    /* margin: 2rem; */
}
.dr1 {
    font-size: 7rem;
    line-height: 5rem;
    /* margin: 2rem; */
}
.dr2{
    font-size: 4.5rem;
    line-height: 4rem;
    /* margin: 1rem; */
}
.dr3{
    font-size: 3.8rem;
    line-height: 2.8rem;
    /* margin: 0.5rem; */
}

.rotate {
    writing-mode: vertical-rl;
    text-orientation: upright
}

.normale {
    font-family:"Normale";  
}
.normale-rush {
    font-family:"NormaleRush";
}
.normale-ouverte{
    font-family:"NormaleOuverte";
}
.droite-rush{
    font-family:"DroiteRush";
    letter-spacing: -0.04em;
}
.droite-ouverte{
    font-family:"DroiteOuverte";
}
.chrystelise {
    font-family:"Chrystelise";
}

.yellow{
color: var(--yellow);
}
.orange {
color: var(--orange);
}
.green{
color: var(--green);
}
.blue{
    color: var(--blue);
}
.pink{
    color: var(--pink);
}
.cyan{
    color: var(--cyan);
}


/* carousel images test  */

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 0rem 0;
    scroll-snap-type: x mandatory;
    margin-bottom: 2rem;
}

.carousel-item {
    flex: 1 0 650px;
    margin-left: 0rem;
    scroll-snap-align: start;
}
/* 
.carousel-item:first-of-type {
    flex: 0.5 0 650px;

} */

.carousel-item img {
    margin-right:0rem;
    float: left;
    width: 95%;
    /* min-width: 500px; */
    clear:both;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 3px;
}

@media screen and (max-width:36rem) {
    .carousel-item {
        flex: 1 0 305px;
        margin-left: 0rem;
        scroll-snap-align: start;
    }
}